<footer>
    <div class="container page-holder padding-zero">
        <div class="container padding-zero" id="footerContentHolder">
            <div class="row">
                <div class="col-md-3 footer-section-title">
                    <span>Projects</span>

                </div>
                <div class="col-md-3 footer-section-title">
                    <span>Tutorials</span>
                </div>
                <div class="col-md-3 footer-section-title">
                    <span>Whats New!</span>

                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="row footer-section-title">
                            <span> Whats Popular!</span>
                        </div>
                        <div class="row footer-section-title">
                            
                            <div><span>Social Media</span></div>
                            <div>
                            <ul>
                                <li>
                                    <a class="genericon genericon-github footer-social-link"
                                        href="https://github.com/tinkerdome" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="genericon genericon-youtube footer-social-link"
                                        href="https://youtube.com/c/tinkerdome" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="genericon genericon-instagram footer-social-link"
                                        href="https://instagram.com/itinkernaut" target="_blank"></a>
                                </li>
                                <li>
                                    <a class="genericon genericon-facebook footer-social-link"
                                        href="https://facebook.com/tinkerdome" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright-holder padding-zero margin-zero">
            <p class="copyright-holder-txt">Copyright © 2020</p><a href="#" id="copyright-holder-link">Tinker Dome</a>
        </div>
    </div>
</footer>