<div class="container-fluid">
    <h2 class="my-3">{{ include.categoryTitle }}</h2>
    <div class="row">
    {% for post in site.categories[include.category] limit:include.entries offset:include.offset %}
      <div class="card col-6 border-0 border-end">
        <a href="{{ post.url }}" class="link-dark" style="text-decoration: none">
        <div class="row g-0">
          <div class="col-md-2 my-auto">
            <img src="/assets/images/{{include.category}}/{{post.image_path}}/thumbnail.png" class="img-fluid rounded-start" alt="{{post.image.path}}">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">
                {% if post.subheadline %}{{ post.subheadline }} &middot; {% endif %}
                <strong>{{ post.title }}</strong>
              </h5>
              <p class="card-text">{{ post.excerpt }}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    </div>
</div>


