.copyright-holder{
    display: flex;
}

.copyright-holder{

}

#copyright-holder-link{
    margin-left: .3rem;
}

#copyright-holder-link:hover{
    color: $colorTinkerGreen;
    text-decoration: none;
}

.footer-social-link{
    color: $colorTinkerGrey;
}

.footer-social-link:hover{
    color: $colorTinkerGreen;
}

.footer-section-title{
    display: block;
}

.footer-section-title span{
    border-bottom: 2px solid $colorTinkerGreen;
}

.footer-section-title ul li{
    list-style-type: none;
    display: inline;
}

.footer-section-title ul{
    padding-inline-start: 0px;
    margin-top: 7px;
}

#footerContentHolder{
    background-color:#383535e0;
}

#footerContentHolder > *{
    color: ivory;
}