.navbar-container{
    padding-top: 0.5rem;
    padding-right: -1rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
}

.navbar-brand-img{
    height: 44px;
    width: 44px;
}

.navbar-brand-name{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: $colorTinkerGrey;
    font-weight: bold;
}

.navbar-toggler-button{
    background-color:$colorTinkerDark;
    width: 100%;
}

.navbar-toggler-button:hover{
    //background-color: $colorTinkerGreen;
    //background-image: url("/assets/images/tinkerdome_background_pattern.svg");
}

.navbar-toggler-div {
    width: 100%;
    display: flex;
}

.navbar-toggler-title-div{
    margin-top: 3px;
    margin-left: 5px;
}

.navbar-toggler-title-link {
    text-decoration: none;
    color: $colorTinkerGrey;
}

.navbar-toggler-title-link:hover {
    text-decoration: none;
    color: black;
}

.navbar-toggler-icon{
    margin-top: 5px;
    margin-left: 0px;
}

.dropdown-menu {
    margin-top: 0px;
    padding-top: 0px;
    border: none;
}

.navbar-items-color{
    color: $colorTinkerDark;
}

.navbar-top-items-color{
    color: $colorTinkerGrey;
}

.navbar-items-color:hover{
    color: $colorTinkerGreen;
}

.navbar-top-items-color:hover{
    color: $colorTinkerGreen;
}



/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) { 
    .navbar-items-hover:hover{
       // background-image: url("/assets/images/tinkerdome_background_pattern.svg");
    }
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
    .navbar-brand-name{
        font-size: 1.7rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}