<div class="table-responsive">
  <table class="table align-middle table-light">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Item name</th>
        <th class="col-3 text-center">Quantity</th>
        <th class="col-4">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for item in include.items %}
        <tr class="d-flex">
          <td class="col-5">{{item.title}}</td>
          <td class="col-3 text-center">
            {% if item.quantity %}
              x {{item.quantity}}
            {% endif %}
          </td>
          <td class="col-4 text-truncate"><a href="{{item.link}}">{{item.link}}</a></td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>