.error-container{
    width: 100%;
    padding: 0px;
    background: url("/assets/images/tinkerdome_background_pattern.svg");
}

.error-container-message-holder{
    margin-top: 16%;
}
.error-container-message-holder *{
    font-family: 'Roboto Slab', serif;
}

.error-message-title{
    min-width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    color: ghostwhite;
}

.error-message-broken{
    min-width: 100%;
    text-align: center;
    font-size: 2rem;
    color: ghostwhite;
    font-weight: 100;
}

.error-message-code{
    min-width: 100%;
    text-align: center;
    color: ghostwhite;
    font-size: 4rem;
    font-weight: bold;
}

.error-message-explanation{
    min-width: 100%;
    text-align: center;
    font-size: 1rem;
    color: ghostwhite;
    font-weight: 100;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
    .error-container {
        height: 28rem;
    }
}

@media (min-width: 544px) {
    .error-container {
        height: 28rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .error-container {
        height: 29rem;
    }
    .error-container-message-holder{
        margin-top: 12%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .error-container {
        height: 33rem;
    }
    .error-container-message-holder{
        margin-top: 11%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .error-container {
        height: 33rem;
    }
}
