<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h1>
        <h2>{{site.title}}</h2>
        {% if page.welcome == true %}
          <h6>Do It Yourself
            <span class="typewriter" id="typewriter-text">
                <span id="typewriter-text-holder" class="tagline-decoration"></span>
            </span>
          </h6>
        {% endif %}
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Arduino</a></li>
            <li><a class="dropdown-item" href="#">Raspberrypi</a></li>
            <li><a class="dropdown-item" href="#">esp32</a></li>
            <li><a class="dropdown-item" href="#">Others</a></li>
          </ul>
        </li>
        <li class="nav-item active navbar-items-hover">
            <a class="nav-link navbar-top-items-color" href="#">Store</a>
        </li>
        <li class="nav-item active navbar-items-hover">
            <a class="nav-link navbar-top-items-color" href="https://youtube.com/" target="_blank">Videos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" href="#">Site Map</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success genericon genericon-search" type="submit"></button>
      </form>
    </div>
  </div>
</nav>