<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
    <link rel="stylesheet" href="assets/css/typewriter.css">
    <link rel="stylesheet" href="assets/css/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/genericons/3.1/genericons.min.css" rel="stylesheet">
</head>
<body>
    {{ content}}

    {%- include bootstrap4.html -%}
    {%- include footer.html -%}
</body>
</html>